@using NotesApp.Models;
@model List<Note>

<h2>Список Заметок</h2>

<a asp-action="Create" class="btn btn-primary">Создать Заметку</a>

<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Статус</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var note in Model)
        {
            <tr>
                <td>@note.Name</td>
                <td>@note.Status</td>
                <td>@note.Group</td>
            </tr>
        }
    </tbody>
</table>
