@model List<NotesApp.Models.Note>

<h2>Notes List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Статус</th>
            <th>Группа</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var note in Model)
        {
            <tr>
                <td>@note.Name</td>
                <td>@note.Status</td>
                <td>@note.Group</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Create New Note</a>
